* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}
header {
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  padding-bottom: 88px;
}

.max-width-wrapper {
  width: 100%;
  height: 318px;
  padding-left: 264px;
  padding-top: 96px;
}

.intro-chunk {
  width: 32%;
  padding-bottom: 60px;
}
.intro-chunk p {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.intro-chunk p strong {
  color: hsla(160, 100%, 30%, 1);
}

main .max-width-wrapper {
  background-color: hsla(0, 0%, 40%, 1);
  padding-top: 60px;
  height: 450px;
}

.card {
  /* width: 60%; */
  width: 800px;
  background-color: hsla(0, 0%, 100%, 1);
  border-top: 8px solid hsla(0, 0%, 100%, 1);
  border-bottom: 8px solid hsla(0, 0%, 60%, 1);
  /* line-height: 150%; */
  margin-left: -24px;
  padding-left: 24px;
  margin-right: 24px;
  padding-right: 24px;
}

.indented-heading {
  width: fit-content;
  font-weight: 800;
  font-size: 24px;
  background-color: hsla(45, 100%, 50%, 1);
  border-bottom: 8px solid hsla(45, 100%, 40%, 1);
  height: 60px;
  margin-left: -38px;
  margin-top: -2px;
}
.card p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

h2 {
  height: 29px;
  line-height: 120%;
  padding-left: 38px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  margin-left: -32px;
}

/* Add styles here! */
